In [1]:
#this Python 3 environment comes with many helpful analytics libraries installed


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import io
import requests

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
from plotly import tools
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)

In [3]:


owidurl = "https://covid.ourworldindata.org/data/owid-covid-data.csv"

url = owidurl
s = requests.get(url).content
owid_ds = pd.read_csv(io.StringIO(s.decode('utf-8')))

In [4]:
owid_ds.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

In [5]:
owid_ds.groupby(['location']).size()

location
Afghanistan                         179
Albania                             120
Algeria                             184
Andorra                             115
Angola                              107
Anguilla                            102
Antigua and Barbuda                 109
Argentina                           122
Armenia                             180
Aruba                               106
Australia                           189
Austria                             189
Azerbaijan                          182
Bahamas                             111
Bahrain                             188
Bangladesh                          125
Barbados                            111
Belarus                             189
Belgium                             189
Belize                              105
Benin                               112
Bermuda                             109
Bhutan                              115
Bolivia                             117
Bonaire Sint Eustatius and Saba      96
Bosnia and Herzegovina              116
Botswana                             97
Brazil                              189
British Virgin Islands              102
Brunei                              118
Bulgaria                            119
Burkina Faso                        116
Burundi                              97
Cambodia                            180
Cameroon                            116
Canada                              189
Cape Verde                          108
Cayman Islands                      109
Central African Republic            113
Chad                                109
Chile                               124
China                               189
Colombia                            124
Comoros                              66
Congo                               113
Costa Rica                          121
Cote d'Ivoire                       115
Croatia                             189
Cuba                                114
Curacao                             105
Cyprus                              117
Czech Republic                      189
Democratic Republic of Congo        116
Denmark                             189
Djibouti                            110
Dominica                            106
Dominican Republic                  180
Ecuador                             184
Egypt                               185
El Salvador                         110
Equatorial Guinea                   114
Eritrea                             107
Estonia                             189
Ethiopia                            115
Faeroe Islands                      122
Falkland Islands                     94
Fiji                                109
Finland                             189
France                              189
French Polynesia                    110
Gabon                               115
Gambia                              111
Georgia                             186
Germany                             189
Ghana                               115
Gibraltar                           109
Greece                              189
Greenland                           109
Grenada                             106
Guam                                110
Guatemala                           114
Guernsey                            109
Guinea                              114
Guinea-Bissau                       102
Guyana                              114
Haiti                               109
Honduras                            115
Hong Kong                             6
Hungary                             125
Iceland                             189
India                               188
Indonesia                           182
International                        64
Iran                                189
Iraq                                187
Ireland                             187
Isle of Man                         108
Israel                              189
Italy                               189
Jamaica                             116
Japan                               189
Jersey                              109
Jordan                              116
Kazakhstan                          116
Kenya                               123
Kosovo                              115
Kuwait                              186
Kyrgyzstan                          110
Laos                                104
Latvia                              129
Lebanon                             185
Lesotho                              53
Liberia                             112
Libya                               104
Liechtenstein                       118
Lithuania                           189
Luxembourg                          182
Macedonia                           180
Madagascar                          108
Malawi                               95
Malaysia                            189
Maldives                            119
Mali                                103
Malta                               122
Mauritania                          114
Mauritius                           109
Mexico                              189
Moldova                             119
Monaco                              177
Mongolia                            113
Montenegro                          111
Montserrat                          107
Morocco                             151
Mozambique                          106
Myanmar                             106
Namibia                             114
Nepal                               189
Netherlands                         189
New Caledonia                       108
New Zealand                         187
Nicaragua                           110
Niger                               108
Nigeria                             178
Northern Mariana Islands             98
Norway                              189
Oman                                183
Pakistan                            184
Palestine                           120
Panama                              120
Papua New Guinea                    108
Paraguay                            122
Peru                                125
Philippines                         185
Poland                              124
Portugal                            128
Puerto Rico                         101
Qatar                               185
Romania                             187
Russia                              189
Rwanda                              114
Saint Kitts and Nevis               103
Saint Lucia                         114
Saint Vincent and the Grenadines    105
San Marino                          188
Sao Tome and Principe                89
Saudi Arabia                        123
Senegal                             127
Serbia                              132
Seychelles                          114
Sierra Leone                         97
Singapore                           189
Sint Maarten (Dutch part)           103
Slovakia                            121
Slovenia                            123
Somalia                             112
South Africa                        151
South Korea                         189
South Sudan                          92
Spain                               188
Sri Lanka                           180
Sudan                               115
Suriname                            109
Swaziland                           114
Sweden                              189
Switzerland                         189
Syria                               106
Taiwan                              188
Tajikistan                           67
Tanzania                            112
Thailand                            182
Timor                               107
Togo                                125
Trinidad and Tobago                 116
Tunisia                             127
Turkey                              115
Turks and Caicos Islands            104
Uganda                              107
Ukraine                             115
United Arab Emirates                183
United Kingdom                      189
United States                       189
United States Virgin Islands        104
Uruguay                             114
Uzbekistan                          113
Vatican                             114
Venezuela                           113
Vietnam                             189
Western Sahara                       72
World                               189
Yemen                                88
Zambia                              110
Zimbabwe                            108
dtype: int64

In [6]:
owid_ds.date=pd.to_datetime(owid_ds["date"])
owid_ds["mo"]=owid_ds["date"].dt.month
owid_ds["da"]=owid_ds["date"].dt.day
owid_ds=owid_ds[owid_ds.continent=="Europe"]
owid_ds=owid_ds.rename(columns={"location": "country"})
owid_ds.head()

,iso_code,continent,country,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,mo,da
179,ALB,Europe,Albania,2020-03-09,2.0,2.0,0.0,0.0,0.695,0.695,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.11,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,9
180,ALB,Europe,Albania,2020-03-10,6.0,4.0,0.0,0.0,2.085,1.390,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.67,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,10
181,ALB,Europe,Albania,2020-03-11,10.0,4.0,0.0,0.0,3.475,1.390,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,11
182,ALB,Europe,Albania,2020-03-12,11.0,1.0,1.0,1.0,3.822,0.347,0.347,0.347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,12
183,ALB,Europe,Albania,2020-03-13,23.0,12.0,1.0,0.0,7.992,4.170,0.347,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,13

In [7]:
owid_ds.groupby(['country']).size()

country
Albania                   120
Andorra                   115
Austria                   189
Belarus                   189
Belgium                   189
Bosnia and Herzegovina    116
Bulgaria                  119
Croatia                   189
Cyprus                    117
Czech Republic            189
Denmark                   189
Estonia                   189
Faeroe Islands            122
Finland                   189
France                    189
Germany                   189
Gibraltar                 109
Greece                    189
Guernsey                  109
Hungary                   125
Iceland                   189
Ireland                   187
Isle of Man               108
Italy                     189
Jersey                    109
Kosovo                    115
Latvia                    129
Liechtenstein             118
Lithuania                 189
Luxembourg                182
Macedonia                 180
Malta                     122
Moldova                   119
Monaco                    177
Montenegro                111
Netherlands               189
Norway                    189
Poland                    124
Portugal                  128
Romania                   187
Russia                    189
San Marino                188
Serbia                    132
Slovakia                  121
Slovenia                  123
Spain                     188
Sweden                    189
Switzerland               189
Ukraine                   115
United Kingdom            189
Vatican                   114
dtype: int64

In [8]:
weather_master=pd.read_csv("data/weather_master.csv")
weather_master.head()
weather_master.day_from_jan_first

0         10
1        111
2        156
3        108
4        181
5         53
6        122
7          6
8          9
9         64
10        91
11       102
12         4
13        26
14        52
15        60
16        65
17        85
18        93
19       101
20       106
21         1
22         2
23         3
24         5
25         7
26         8
27        15
28        16
29        19
30        20
31        21
32        28
33        31
34        32
35        33
36        34
37        37
38        39
39        40
40        41
41        42
42        45
43        46
44        48
45        49
46        50
47        54
48        59
49        61
50        62
51        63
52        66
53        67
54        68
55        70
56        72
57        81
58        83
59        84
60        86
61        88
62        89
63        90
64        92
65        95
66        96
67        97
68        98
69        99
70       100
71       104
72       105
73       109
74       112
75       114
76       115
77       117
78       120
79       121
80       123
81       125
82       126
83       130
84       138
85       139
86       140
87       141
88       142
89       148
90       152
91       153
92       154
93       155
94       157
95       158
96       159
97       160
98       161
99       163
100      164
101      165
102      166
103      167
104      168
105      169
106      170
107      172
108      175
109      176
110       11
111       24
112       29
113       35
114       38
115       43
116       51
117       80
118      133
119      128
120       55
121       58
122       71
123       82
124      103
125      131
126      144
127      145
128      149
129       12
130       13
131       14
132       18
133       25
134       27
135       47
136       57
137       69
138       73
139       74
140       75
141       76
142       77
143       78
144       79
145      110
146      113
147      118
148      124
149      127
        ...
47996     48
47997     49
47998     51
47999     52
48000     53
48001     54
48002     55
48003     56
48004     59
48005     61
48006     62
48007     63
48008     64
48009     65
48010     66
48011     67
48012     68
48013     69
48014     70
48015     72
48016     74
48017     75
48018     76
48019     78
48020     80
48021     81
48022     82
48023     84
48024     85
48025     86
48026     88
48027     90
48028     96
48029     97
48030     98
48031     99
48032    100
48033    101
48034    102
48035    103
48036    104
48037    106
48038    107
48039    108
48040    109
48041    110
48042    111
48043    114
48044    115
48045    116
48046    117
48047    120
48048    122
48049    123
48050    124
48051    125
48052    127
48053    128
48054    130
48055    131
48056    134
48057    135
48058    138
48059    139
48060    140
48061    141
48062    142
48063    143
48064    144
48065    145
48066    146
48067    147
48068    148
48069    149
48070    150
48071    151
48072    152
48073    153
48074    154
48075    156
48076    157
48077    158
48078    159
48079    160
48080    161
48081    162
48082    163
48083    164
48084    165
48085    166
48086    167
48087    168
48088    169
48089    170
48090    171
48091    172
48092    173
48093    174
48094    175
48095    176
48096    177
48097    179
48098    180
48099      1
48100      5
48101      6
48102      7
48103      8
48104     13
48105     15
48106     17
48107     18
48108     28
48109     35
48110     39
48111     47
48112     60
48113     83
48114     91
48115    119
48116    181
48117     11
48118     57
48119     58
48120     71
48121     73
48122     79
48123     87
48124     92
48125     93
48126     94
48127     95
48128    105
48129    112
48130    113
48131    118
48132    121
48133    126
48134    129
48135    132
48136    133
48137    136
48138    137
48139    155
48140    178
48141      4
48142     12
48143     50
48144     77
48145     89
Name: day_from_jan_first, Length: 48146, dtype: int64

In [9]:
weather_master.groupby(['country']).size()

country
Afghanistan                           181
Albania                               181
Algeria                               181
Andorra                               181
Antigua and Barbuda                   181
Argentina                             181
Armenia                               181
Aruba                                 181
Australia                            1629
Austria                               181
Azerbaijan                            181
Bahrain                               181
Bangladesh                            181
Barbados                              181
Belarus                               181
Belgium                               181
Benin                                 181
Bhutan                                181
Bolivia                               181
Bosnia and Herzegovina                181
Brazil                                181
Brunei                                181
Bulgaria                              181
Burkina Faso                          181
Cambodia                              181
Cameroon                              181
Canada                               1991
Central African Republic              181
Chile                                 181
China                                5973
Colombia                              181
Congo (Brazzaville)                   181
Congo (Kinshasa)                      181
Costa Rica                            181
Cote d'Ivoire                         181
Croatia                               181
Cruise Ship                           181
Cuba                                  181
Cyprus                                181
Czechia                               181
Djibouti                              181
Dominican Republic                    181
Ecuador                               181
Egypt                                 181
Equatorial Guinea                     181
Estonia                               181
Eswatini                              181
Ethiopia                              181
Finland                               181
French Guiana                         181
Gabon                                 181
Gambia, The                           181
Georgia                               181
Germany                               181
Ghana                                 181
Greece                                181
Greenland                             181
Guadeloupe                            181
Guam                                  181
Guatemala                             181
Guernsey                              181
Guinea                                181
Guyana                                181
Holy See                              181
Honduras                              181
Hungary                               181
Iceland                               181
India                                 181
Indonesia                             181
Iran                                  181
Iraq                                  181
Ireland                               181
Israel                                181
Italy                                 181
Jamaica                               181
Japan                                 181
Jersey                                181
Jordan                                181
Kazakhstan                            181
Kenya                                 181
Korea, South                          181
Kosovo                                181
Kuwait                                181
Kyrgyzstan                            181
Latvia                                181
Lebanon                               181
Liberia                               181
Liechtenstein                         181
Lithuania                             181
Luxembourg                            181
Malaysia                              181
Maldives                              181
Malta                                 181
Martinique                            181
Mauritania                            181
Mauritius                             181
Mayotte                               181
Mexico                                181
Moldova                               181
Monaco                                181
Mongolia                              181
Montenegro                            181
Morocco                               181
Namibia                               181
Nepal                                 181
New Zealand                           181
Nigeria                               181
North Macedonia                       181
Norway                                181
Oman                                  181
Pakistan                              181
Panama                                181
Paraguay                              181
Peru                                  181
Philippines                           181
Poland                                181
Portugal                              181
Puerto Rico                           181
Qatar                                 181
Republic of the Congo                 181
Reunion                               181
Romania                               181
Russia                                181
Rwanda                                181
Saint Lucia                           181
Saint Vincent and the Grenadines      181
San Marino                            181
Saudi Arabia                          181
Senegal                               181
Serbia                                181
Seychelles                            181
Singapore                             181
Slovakia                              181
Slovenia                              181
Somalia                               181
South Africa                          181
Spain                                 181
Sri Lanka                             181
Sudan                                 181
Suriname                              181
Sweden                                181
Switzerland                           181
Taiwan*                               181
Tanzania                              181
Thailand                              181
The Bahamas                           181
The Gambia                            181
Togo                                  181
Trinidad and Tobago                   181
Tunisia                               181
Turkey                                181
US                                  10498
Ukraine                               181
United Arab Emirates                  181
Uruguay                               181
Uzbekistan                            181
Venezuela                             181
Vietnam                               181
Zambia                                181
dtype: int64

In [10]:
owid_ds.country.unique()

array(['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Estonia', 'Faeroe Islands',
       'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guernsey',
       'Hungary', 'Iceland', 'Ireland', 'Isle of Man', 'Italy', 'Jersey',
       'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Malta', 'Moldova', 'Monaco', 'Montenegro',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia',
       'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican'],
      dtype=object)

In [11]:
df=pd.merge(owid_ds,weather_master,on=["country","mo","da"])

In [12]:
df.groupby(['country']).size()

country
Albania                   113
Andorra                   108
Austria                   181
Belarus                   181
Belgium                   181
Bosnia and Herzegovina    109
Bulgaria                  112
Croatia                   181
Cyprus                    110
Estonia                   181
Finland                   181
Germany                   181
Greece                    181
Guernsey                  102
Hungary                   118
Iceland                   181
Ireland                   179
Italy                     181
Jersey                    102
Kosovo                    108
Latvia                    122
Liechtenstein             111
Lithuania                 181
Luxembourg                174
Malta                     115
Moldova                   112
Monaco                    169
Montenegro                104
Norway                    181
Poland                    117
Portugal                  121
Romania                   179
Russia                    181
San Marino                180
Serbia                    125
Slovakia                  114
Slovenia                  116
Spain                     181
Sweden                    181
Switzerland               181
Ukraine                   108
dtype: int64

In [13]:
df[["country","date","total_cases"]][df.new_cases.isnull()]

        country       date  total_cases
464     Belarus 2020-03-03          NaN
467     Belarus 2020-03-06          NaN
468     Belarus 2020-03-07          NaN
469     Belarus 2020-03-08          NaN
470     Belarus 2020-03-09          NaN
471     Belarus 2020-03-10          NaN
475     Belarus 2020-03-14          NaN
476     Belarus 2020-03-15          NaN
1049    Croatia 2020-03-05          NaN
1053    Croatia 2020-03-09          NaN
1054    Croatia 2020-03-10          NaN
1338    Estonia 2020-03-03          NaN
1340    Estonia 2020-03-05          NaN
1343    Estonia 2020-03-08          NaN
1344    Estonia 2020-03-09          NaN
1345    Estonia 2020-03-10          NaN
1519    Finland 2020-03-03          NaN
1521    Finland 2020-03-05          NaN
1524    Finland 2020-03-08          NaN
1527    Finland 2020-03-11          NaN
1881     Greece 2020-03-03          NaN
1882     Greece 2020-03-04          NaN
2102    Hungary 2020-03-04          NaN
2104    Hungary 2020-03-06          NaN
2971     Latvia 2020-02-29          NaN
2972     Latvia 2020-03-01          NaN
2973     Latvia 2020-03-02          NaN
2975     Latvia 2020-03-04          NaN
2976     Latvia 2020-03-05          NaN
2977     Latvia 2020-03-06          NaN
2978     Latvia 2020-03-07          NaN
3266  Lithuania 2020-03-03          NaN
3267  Lithuania 2020-03-04          NaN
3268  Lithuania 2020-03-05          NaN
3269  Lithuania 2020-03-06          NaN
3270  Lithuania 2020-03-07          NaN
3271  Lithuania 2020-03-08          NaN
3272  Lithuania 2020-03-09          NaN
3273  Lithuania 2020-03-10          NaN
3276  Lithuania 2020-03-13          NaN
4241     Poland 2020-03-06          NaN
4357   Portugal 2020-03-01          NaN
4358   Portugal 2020-03-02          NaN
5018     Serbia 2020-02-26          NaN
5019     Serbia 2020-02-27          NaN
5020     Serbia 2020-02-28          NaN
5021     Serbia 2020-02-29          NaN
5022     Serbia 2020-03-01          NaN
5023     Serbia 2020-03-02          NaN
5024     Serbia 2020-03-03          NaN
5025     Serbia 2020-03-04          NaN
5026     Serbia 2020-03-05          NaN
5027     Serbia 2020-03-06          NaN
5029     Serbia 2020-03-08          NaN
5030     Serbia 2020-03-09          NaN
5031     Serbia 2020-03-10          NaN

In [14]:
df.to_csv("data/master")