In [1]:
#this Python 3 environment comes with many helpful analytics libraries installed


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import io
import requests

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
from plotly import tools
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)

In [3]:


owidurl = "https://covid.ourworldindata.org/data/owid-covid-data.csv"

url = owidurl
s = requests.get(url).content
owid_ds = pd.read_csv(io.StringIO(s.decode('utf-8')))

In [4]:
owid_ds.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

In [5]:
owid_ds.groupby(['location']).size()

location
Afghanistan                         176
Albania                             117
Algeria                             181
Andorra                             112
Angola                              104
Anguilla                             99
Antigua and Barbuda                 106
Argentina                           119
Armenia                             177
Aruba                               103
Australia                           186
Austria                             186
Azerbaijan                          179
Bahamas                             108
Bahrain                             185
Bangladesh                          122
Barbados                            108
Belarus                             186
Belgium                             186
Belize                              102
Benin                               109
Bermuda                             106
Bhutan                              112
Bolivia                             114
Bonaire Sint Eustatius and Saba      93
Bosnia and Herzegovina              113
Botswana                             94
Brazil                              186
British Virgin Islands               99
Brunei                              115
Bulgaria                            116
Burkina Faso                        113
Burundi                              94
Cambodia                            177
Cameroon                            113
Canada                              186
Cape Verde                          105
Cayman Islands                      106
Central African Republic            110
Chad                                106
Chile                               121
China                               186
Colombia                            121
Comoros                              63
Congo                               110
Costa Rica                          118
Cote d'Ivoire                       112
Croatia                             186
Cuba                                111
Curacao                             102
Cyprus                              114
Czech Republic                      186
Democratic Republic of Congo        113
Denmark                             186
Djibouti                            107
Dominica                            103
Dominican Republic                  177
Ecuador                             181
Egypt                               182
El Salvador                         107
Equatorial Guinea                   111
Eritrea                             104
Estonia                             186
Ethiopia                            112
Faeroe Islands                      106
Falkland Islands                     91
Fiji                                106
Finland                             186
France                              186
French Polynesia                    107
Gabon                               112
Gambia                              108
Georgia                             183
Germany                             186
Ghana                               112
Gibraltar                           106
Greece                              186
Greenland                           106
Grenada                             103
Guam                                107
Guatemala                           111
Guernsey                            106
Guinea                              111
Guinea-Bissau                        99
Guyana                              111
Haiti                               106
Honduras                            112
Hong Kong                             6
Hungary                             122
Iceland                             186
India                               185
Indonesia                           179
International                        64
Iran                                186
Iraq                                184
Ireland                             184
Isle of Man                         105
Israel                              186
Italy                               186
Jamaica                             113
Japan                               186
Jersey                              106
Jordan                              113
Kazakhstan                          113
Kenya                               120
Kosovo                              112
Kuwait                              183
Kyrgyzstan                          107
Laos                                101
Latvia                              126
Lebanon                             182
Lesotho                              50
Liberia                             109
Libya                               101
Liechtenstein                       115
Lithuania                           186
Luxembourg                          179
Macedonia                           177
Madagascar                          105
Malawi                               92
Malaysia                            186
Maldives                            116
Mali                                100
Malta                               119
Mauritania                          111
Mauritius                           106
Mexico                              186
Moldova                             116
Monaco                              174
Mongolia                            110
Montenegro                          108
Montserrat                          104
Morocco                             148
Mozambique                          103
Myanmar                             103
Namibia                             111
Nepal                               186
Netherlands                         186
New Caledonia                       105
New Zealand                         184
Nicaragua                           107
Niger                               105
Nigeria                             175
Northern Mariana Islands             95
Norway                              186
Oman                                180
Pakistan                            181
Palestine                           117
Panama                              117
Papua New Guinea                    105
Paraguay                            119
Peru                                122
Philippines                         182
Poland                              121
Portugal                            125
Puerto Rico                          98
Qatar                               182
Romania                             184
Russia                              186
Rwanda                              111
Saint Kitts and Nevis               100
Saint Lucia                         111
Saint Vincent and the Grenadines    102
San Marino                          185
Sao Tome and Principe                86
Saudi Arabia                        120
Senegal                             124
Serbia                              129
Seychelles                          111
Sierra Leone                         94
Singapore                           186
Sint Maarten (Dutch part)           100
Slovakia                            118
Slovenia                            120
Somalia                             109
South Africa                        148
South Korea                         186
South Sudan                          89
Spain                               185
Sri Lanka                           177
Sudan                               112
Suriname                            106
Swaziland                           111
Sweden                              186
Switzerland                         186
Syria                               103
Taiwan                              185
Tajikistan                           64
Tanzania                            109
Thailand                            179
Timor                               104
Togo                                122
Trinidad and Tobago                 113
Tunisia                             124
Turkey                              112
Turks and Caicos Islands            101
Uganda                              104
Ukraine                             112
United Arab Emirates                180
United Kingdom                      186
United States                       186
United States Virgin Islands        101
Uruguay                             111
Uzbekistan                          110
Vatican                             111
Venezuela                           110
Vietnam                             186
Western Sahara                       69
World                               186
Yemen                                85
Zambia                              107
Zimbabwe                            105
dtype: int64

In [6]:
owid_ds.date=pd.to_datetime(owid_ds["date"])
owid_ds["mo"]=owid_ds["date"].dt.month
owid_ds["da"]=owid_ds["date"].dt.day
owid_ds=owid_ds[owid_ds.continent=="Europe"]
owid_ds=owid_ds.rename(columns={"location": "country"})
owid_ds.head()

,iso_code,continent,country,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,mo,da
176,ALB,Europe,Albania,2020-03-09,2.0,2.0,0.0,0.0,0.695,0.695,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.11,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,9
177,ALB,Europe,Albania,2020-03-10,6.0,4.0,0.0,0.0,2.085,1.390,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.67,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,10
178,ALB,Europe,Albania,2020-03-11,10.0,4.0,0.0,0.0,3.475,1.390,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,11
179,ALB,Europe,Albania,2020-03-12,11.0,1.0,1.0,1.0,3.822,0.347,0.347,0.347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.85,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,12
180,ALB,Europe,Albania,2020-03-13,23.0,12.0,1.0,0.0,7.992,4.170,0.347,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70,2877800.0,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,3,13

In [7]:
owid_ds.groupby(['country']).size()

country
Albania                   117
Andorra                   112
Austria                   186
Belarus                   186
Belgium                   186
Bosnia and Herzegovina    113
Bulgaria                  116
Croatia                   186
Cyprus                    114
Czech Republic            186
Denmark                   186
Estonia                   186
Faeroe Islands            106
Finland                   186
France                    186
Germany                   186
Gibraltar                 106
Greece                    186
Guernsey                  106
Hungary                   122
Iceland                   186
Ireland                   184
Isle of Man               105
Italy                     186
Jersey                    106
Kosovo                    112
Latvia                    126
Liechtenstein             115
Lithuania                 186
Luxembourg                179
Macedonia                 177
Malta                     119
Moldova                   116
Monaco                    174
Montenegro                108
Netherlands               186
Norway                    186
Poland                    121
Portugal                  125
Romania                   184
Russia                    186
San Marino                185
Serbia                    129
Slovakia                  118
Slovenia                  120
Spain                     185
Sweden                    186
Switzerland               186
Ukraine                   112
United Kingdom            186
Vatican                   111
dtype: int64

In [8]:
weather_master=pd.read_csv("data/weather_master.csv")
weather_master.head()

,Unnamed: 0,Unnamed: 0.1,STN,mo,da,temp,min,max,stp,slp,dewp,wdsp,prcp,fog,call,lat,lon,elev,rh,ah,day_from_jan_first,Distance,country,lat_st,long_st
0,0,1419,724550-13947,1,10,34.4,24.6,41.7,975.7,NaN,27.2,6.5,99.99,1,KFRI,39.05,-96.767,324.6,0.746709,0.816725,10,0.275588,US,39.05,-96.767
1,1,1506,724550-13947,4,20,58.6,46.6,72.9,972.6,1010.5,40.9,6.5,0.39,1,KFRI,39.05,-96.767,324.6,0.515454,0.127481,20,0.275588,US,39.05,-96.767
2,2,1507,724550-13947,6,4,79.2,63.9,92.8,970.3,1007.3,68.7,5.6,0.43,1,KFRI,39.05,-96.767,324.6,0.700291,0.199198,4,0.275588,US,39.05,-96.767
3,3,3197,724550-13947,4,17,38.3,32.9,50.9,982.1,1021.2,30.6,9.0,0.51,1,KFRI,39.05,-96.767,324.6,0.735294,0.357553,17,0.275588,US,39.05,-96.767
4,4,136793,724550-13947,6,29,82.7,78.6,87.6,965.7,1002.3,71.9,11.7,0.00,0,KFRI,39.05,-96.767,324.6,0.696544,0.207042,29,0.275588,US,39.05,-96.767

In [9]:
weather_master.groupby(['country']).size()

country
Afghanistan                           181
Albania                               181
Algeria                               181
Andorra                               181
Antigua and Barbuda                   181
Argentina                             181
Armenia                               181
Aruba                                 181
Australia                            1629
Austria                               181
Azerbaijan                            181
Bahrain                               181
Bangladesh                            181
Barbados                              181
Belarus                               181
Belgium                               181
Benin                                 181
Bhutan                                181
Bolivia                               181
Bosnia and Herzegovina                181
Brazil                                181
Brunei                                181
Bulgaria                              181
Burkina Faso                          181
Cambodia                              181
Cameroon                              181
Canada                               1991
Central African Republic              181
Chile                                 181
China                                5973
Colombia                              181
Congo (Brazzaville)                   181
Congo (Kinshasa)                      181
Costa Rica                            181
Cote d'Ivoire                         181
Croatia                               181
Cruise Ship                           181
Cuba                                  181
Cyprus                                181
Czechia                               181
Djibouti                              181
Dominican Republic                    181
Ecuador                               181
Egypt                                 181
Equatorial Guinea                     181
Estonia                               181
Eswatini                              181
Ethiopia                              181
Finland                               181
French Guiana                         181
Gabon                                 181
Gambia, The                           181
Georgia                               181
Germany                               181
Ghana                                 181
Greece                                181
Greenland                             181
Guadeloupe                            181
Guam                                  181
Guatemala                             181
Guernsey                              181
Guinea                                181
Guyana                                181
Holy See                              181
Honduras                              181
Hungary                               181
Iceland                               181
India                                 181
Indonesia                             181
Iran                                  181
Iraq                                  181
Ireland                               181
Israel                                181
Italy                                 181
Jamaica                               181
Japan                                 181
Jersey                                181
Jordan                                181
Kazakhstan                            181
Kenya                                 181
Korea, South                          181
Kosovo                                181
Kuwait                                181
Kyrgyzstan                            181
Latvia                                181
Lebanon                               181
Liberia                               181
Liechtenstein                         181
Lithuania                             181
Luxembourg                            181
Malaysia                              181
Maldives                              181
Malta                                 181
Martinique                            181
Mauritania                            181
Mauritius                             181
Mayotte                               181
Mexico                                181
Moldova                               181
Monaco                                181
Mongolia                              181
Montenegro                            181
Morocco                               181
Namibia                               181
Nepal                                 181
New Zealand                           181
Nigeria                               181
North Macedonia                       181
Norway                                181
Oman                                  181
Pakistan                              181
Panama                                181
Paraguay                              181
Peru                                  181
Philippines                           181
Poland                                181
Portugal                              181
Puerto Rico                           181
Qatar                                 181
Republic of the Congo                 181
Reunion                               181
Romania                               181
Russia                                181
Rwanda                                181
Saint Lucia                           181
Saint Vincent and the Grenadines      181
San Marino                            181
Saudi Arabia                          181
Senegal                               181
Serbia                                181
Seychelles                            181
Singapore                             181
Slovakia                              181
Slovenia                              181
Somalia                               181
South Africa                          181
Spain                                 181
Sri Lanka                             181
Sudan                                 181
Suriname                              181
Sweden                                181
Switzerland                           181
Taiwan*                               181
Tanzania                              181
Thailand                              181
The Bahamas                           181
The Gambia                            181
Togo                                  181
Trinidad and Tobago                   181
Tunisia                               181
Turkey                                181
US                                  10498
Ukraine                               181
United Arab Emirates                  181
Uruguay                               181
Uzbekistan                            181
Venezuela                             181
Vietnam                               181
Zambia                                181
dtype: int64

In [10]:
owid_ds.country.unique()

array(['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Estonia', 'Faeroe Islands',
       'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guernsey',
       'Hungary', 'Iceland', 'Ireland', 'Isle of Man', 'Italy', 'Jersey',
       'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Malta', 'Moldova', 'Monaco', 'Montenegro',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia',
       'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican'],
      dtype=object)

In [11]:
df=pd.merge(owid_ds,weather_master,on=["country","mo","da"])

In [12]:
df.groupby(['country']).size()

country
Albania                   113
Andorra                   108
Austria                   181
Belarus                   181
Belgium                   181
Bosnia and Herzegovina    109
Bulgaria                  112
Croatia                   181
Cyprus                    110
Estonia                   181
Finland                   181
Germany                   181
Greece                    181
Guernsey                  102
Hungary                   118
Iceland                   181
Ireland                   179
Italy                     181
Jersey                    102
Kosovo                    108
Latvia                    122
Liechtenstein             111
Lithuania                 181
Luxembourg                174
Malta                     115
Moldova                   112
Monaco                    169
Montenegro                104
Norway                    181
Poland                    117
Portugal                  121
Romania                   179
Russia                    181
San Marino                180
Serbia                    125
Slovakia                  114
Slovenia                  116
Spain                     181
Sweden                    181
Switzerland               181
Ukraine                   108
dtype: int64

In [13]:
df[["country","date","total_cases"]][df.new_cases.isnull()]

        country       date  total_cases
464     Belarus 2020-03-03          NaN
467     Belarus 2020-03-06          NaN
468     Belarus 2020-03-07          NaN
469     Belarus 2020-03-08          NaN
470     Belarus 2020-03-09          NaN
471     Belarus 2020-03-10          NaN
475     Belarus 2020-03-14          NaN
476     Belarus 2020-03-15          NaN
1049    Croatia 2020-03-05          NaN
1053    Croatia 2020-03-09          NaN
1054    Croatia 2020-03-10          NaN
1338    Estonia 2020-03-03          NaN
1340    Estonia 2020-03-05          NaN
1343    Estonia 2020-03-08          NaN
1344    Estonia 2020-03-09          NaN
1345    Estonia 2020-03-10          NaN
1519    Finland 2020-03-03          NaN
1521    Finland 2020-03-05          NaN
1524    Finland 2020-03-08          NaN
1527    Finland 2020-03-11          NaN
1881     Greece 2020-03-03          NaN
1882     Greece 2020-03-04          NaN
2102    Hungary 2020-03-04          NaN
2104    Hungary 2020-03-06          NaN
2971     Latvia 2020-02-29          NaN
2972     Latvia 2020-03-01          NaN
2973     Latvia 2020-03-02          NaN
2975     Latvia 2020-03-04          NaN
2976     Latvia 2020-03-05          NaN
2977     Latvia 2020-03-06          NaN
2978     Latvia 2020-03-07          NaN
3266  Lithuania 2020-03-03          NaN
3267  Lithuania 2020-03-04          NaN
3268  Lithuania 2020-03-05          NaN
3269  Lithuania 2020-03-06          NaN
3270  Lithuania 2020-03-07          NaN
3271  Lithuania 2020-03-08          NaN
3272  Lithuania 2020-03-09          NaN
3273  Lithuania 2020-03-10          NaN
3276  Lithuania 2020-03-13          NaN
4241     Poland 2020-03-06          NaN
4357   Portugal 2020-03-01          NaN
4358   Portugal 2020-03-02          NaN
5018     Serbia 2020-02-26          NaN
5019     Serbia 2020-02-27          NaN
5020     Serbia 2020-02-28          NaN
5021     Serbia 2020-02-29          NaN
5022     Serbia 2020-03-01          NaN
5023     Serbia 2020-03-02          NaN
5024     Serbia 2020-03-03          NaN
5025     Serbia 2020-03-04          NaN
5026     Serbia 2020-03-05          NaN
5027     Serbia 2020-03-06          NaN
5029     Serbia 2020-03-08          NaN
5030     Serbia 2020-03-09          NaN
5031     Serbia 2020-03-10          NaN

In [14]:
df.to_csv("data/master")